.raleway {
  font-family: 'Raleway', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial,
    sans-serif;
}

.showcase {
  background-image: url('./images/landing.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-attachment: fixed; */
}

.app {
  height: 90vh;
}
